*{
	margin: 0px;
	padding: 0px;
}

@font-face{
	font-family: 'udec';
	src: url('fonts/DragonNight.otf');

}





body{
	/* Fondo Degradado
	background: radial-gradient(center,rgba(200,0,0,0.3) 0%, rgba(0,0,200,0.3) 100%);
	background: -webkit-radial-gradient(center,rgba(200,0,0,0.3) 0%, rgba(0,0,200,0.3) 100%);
	*/

	/*background: url('../img/fondo.jpg') no-repeat center center fixed;
	background: url('../img/fondo.jpg') no-repeat;
	background-size: 100% 100%;*/
	/*Fondo inicia, fondo secundario*/
	background-image:url('../img/shot.png'), url('../img/font.jpg');
	/*Posición de la primra imagen, de la segunda imagen */
	background-position: right right, right right;	
	background-repeat: no-repeat, repeat;
	color: black;
	font-family: :'udec','Verdana',cursive;
	font-size: 1em;
	cursor: url('img/lapiz.gif'), url('img/cursor.cur'),help;
	
}
h1{
	color: white;
	font-family: 'udec','Verdana',cursive;
	font-size: 7em;
}
h2{
	color: white;
	font-family: 'udec','Verdana',cursive;
	font-size: 5em;
}
p{
	font-size: 3em;
	color:grey;
	font-family: 'chiller','Verdana',cursive;
	text-align: justify;

}

header
{

	color: white;
	width: 400px;	
	position: center;
	width: 700px;
  	font-family: 'udec''arial',cursive;
  	border: red;
}



.menu li
{
	display: inline-block;
	background-color: black;
	text-decoration: none;
	padding: 10px 15px; 
	line-height: 35px; /*Superior*/
	list-style: none; /*Decoración */
	margin: 0 5px;
	font-family: 'chiller''arial',cursive;
	font-size: 2em;
}
.menu li:hover{
	background-color: grey;
	
}
.menu li a
{
	text-decoration:none;
	color: white; 
}
.menu li:hover{border-bottom:black solid 2px ;
}

.menu li ul
{
	display: none;
	position: absolute;
	min-height: 140px;
	

}
.menu li:hover ul {
	display: block;
	
}
